{% extends "layout.html" %}
{% block body %}
{% if currenttask %}
<p>Current Task: {{ currenttask.task }}</p>
{% endif %}
{% if subs %}
<h2>{{ task }}</h2>
<table class="scoreboard">
    <tr>
        <th>Reg. No</th>
        <th>Sub Link</th>
        <th>Sub Time(UTC)</th>
    </tr>
{% for sub in subs %}
<tr>
    <td>{{ sub.regno }}</td>
    <td><a href="{{ sub.sublink }}">Link</a></td>
    <td>{{ sub['time'] }}</td>
</tr>
{% endfor %}
{% else %}
<div><em>Unbelievable. No entries here so far</div>
</table>
{% endif %}
<a href="{{ url_for('viewallsubs') }}">View all submissions.</a>
{% endblock %}